@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    background-color: #F7FBFF;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    letter-spacing: 0;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 24px;
    padding: 12px;
    background-color: white;
    border: 1px solid #D5E4F4;
    border-radius: 20px;
}

.nav {
    display: none;
}

.hamburgermenu {
    background-color: #EAF4FF;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 150px;
    height: auto;
}

main > section {
    padding: 0px 24px;
}

.hero-banner {
    background-color: #EAF4FF;
    padding: 24px 24px 40px 24px;
}

.hero-banner h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

.hero-banner p {
    font-size: 16px;
    line-height: 24px;
    color: #455973;
}

.hero-banner a {
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
}

.hero-knoppen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    font-size: 14px;
    line-height: 20px;
}

.hero-knoppen a {
    height: 48px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    border-radius: 12px;
    white-space: nowrap;
}
 
.primaire-knop {
    background-color: #1769D4;
    color: white;
}

.secundaire-knop {
    background-color: white;
    color: black;
    border: 1px solid #D5E4F4;
}

/* H2 sectiekoppen */
h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin: 0;
    margin-bottom: 12px;
}

/* Wat zoek je */
.wat-zoek-je {
    background-color: white;
    padding: 32px 24px 40px 24px;
}

.wat-zoek-je > p {
    font-size: 14px;
    line-height: 22px;
    color: #5F718C;
    margin: 0;
    margin-bottom: 24px;
}

.keuze-kaarten {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

.keuze-kaart {
    border: 1px solid #D5E4F4;
    border-radius: 18px;
    padding: 24px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
   
}

.keuze-kaarten h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin: 0;
}

.keuze-kaarten p {
    font-size: 14px;
    line-height: 22px;
    color: #5F718C;
    margin: 0;
}

.keuze-kaarten a {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #1769D4;

    display: inline-flex;
    align-items: center;
    gap: 3px;
    text-decoration: none;
}

.keuze-kaarten .material-symbols-outlined {
    font-size: 14px;
    line-height: 20px;
}

/* Waarom gemeenteniconen */
.waarom-gemeenteiconen {
    background-color: #F7FBFF;
    padding: 32px 24px 40px 24px;
}

.waarom-gemeenteiconen > p {
    font-size: 14px;
    line-height: normal;
    margin: 0;
    margin-bottom: 24px;
}

.voordeel-kaarten {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.voordeel-kaart {
    border: 1px solid #D5E4F4;
    border-radius: 14px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.voordeel-kaart .material-symbols-outlined {
    background-color: #EAF4FF;
    border-radius: 50%;
    border: none;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 18px;
    font-size: 30px;
}

.voordeel-kaarten h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin: 0;
}

.voordeel-kaarten p {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 18px;
    color: #5F718C;
    padding-left: 8px;
    padding-right: 8px;
}

/* Footer */
footer {
    background-color: #0B2B50;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 40px 24px 48px 24px;
}

footer h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: white;
    margin: 0;
}

footer p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #C4D6ED;
    margin: 0;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: grid;
    gap: 22px;
}

footer a {
    text-decoration: none;
    color: white;
}

.logo-footer {
    filter: invert(100%);
    width: 161px;
    height: auto;
    display: block;
    margin-bottom: 12px;
}

.over-iconen, .ontdek-blok, .informatie-blok {
    margin-bottom: 39px;
}

.over-iconen h3 {
    margin-bottom: 12px;
}

.ontdek-blok h3, .informatie-blok h3 {
    margin-bottom: 19px;
}

.contact-tekst {
    margin-bottom: 23px;
}

.mail-link {
    margin-bottom: 34px;
}

/* Grotere telefoons */
@media (min-width: 360px) {
    .hero-knoppen {
        gap: 16px;
    }

    .hero-knoppen a {
        font-size: 14px;
    }

    .voordeel-kaarten h3 {
        font-size: 18px;
        line-height: 26px;
    }
}

